
body {
    background-color: #272727;
    margin: 0;
}

#mainPage {
    margin-top: 320px;
}

.title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 80px;
    color: #faff76;
    display: flex;
    justify-content: center;
    width: auto;
}

.title:hover a p.title:after {
    content: 'NEW';
}

.pickContainer {
    margin: 100px 20% 0 20%;
    display: block;
    width: 80%;
    align-items: center;
    overflow: auto;
}

.pickContainer button {
    background-color: #ababab;
    border: 2px solid #101010;
    height: 80px;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
    margin: 0 32px 4% 0;
    padding: 0 4px 4px 0;
}

.pickContainer button:hover {
    background-color: #faff76;
    cursor: pointer;
}

.wordLabel {
    width: 320px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 31px;
    color: #faff76;
}

#word {
    background-color: #272727;
    width: 320px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #ababab;
    border: 2px solid #ababab;
}

#word:focus {
    outline: none;
    background-color: #1111119c;
}

#submitContainer {
    margin: 376px 20% 376px 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#submitButton {
    background-color: #ababab;
    border: 2px solid #101010;
    height: 34px;
    width: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
}

#submitButton:hover {
    background-color: #faff76;
    cursor: pointer;
}

#gameScreen {
    margin-top: 160px;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#hangmanCanvas {
    background-color: #ababab;
    border: 2px solid #101010;
}

#guessesLeft {
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ff7b47;
    margin: 8px 0 48px 0;
}

#blanks {
    font-size: 64px;
    color: #faff76;
    margin-bottom: 64px;
}

#keys {
    width: 603px;
    height: auto;
}

#keyButtons {
    height: 64px;
    width: 64px;
    background-color: #ababab;
    border: 1px solid #101010;
    border-radius: 3px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 3px 3px 0 0;
}

#keyButtons:hover {
    background-color: #faff76;
    cursor: pointer;
}

#wrongLetters {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ff7b47;
    margin-top: 64px;
}

#resultScreen {
    background-color: #080808dd;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: +1;
}

#message {
    font-family: 'Courier New', Courier, monospace;
    font-size: 128px;
    color: #faff76;
}

#solution {
    font-family: 'Courier New', Courier, monospace;
    font-size: 64px;
    color: #faff76;
}

#leftoverGuesses {
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ff7b47;

}

#pokemonSprite {
    height: 256px;
    width: 256px;
    image-rendering: pixelated;
}


#animalImage, #superheroImage {
    height: 320px;
    width: auto;
}

#playAgainButton {
    background-color: #ababab;
    border: 2px solid #101010;
    height: 100px;
    width: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode',
        'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
}

#playAgainButton:hover {
    background-color: #faff76;
    cursor: pointer;
}


@media only screen and (max-width: 620px) {
    #mainPage {
        margin-top: 15%;
    }

    .pickContainer, .pickContainer button {
        width: 80%;
    }

    #submitContainer {
        margin: 60% 20% 0 20%;
    }

    #gameScreen {
        margin-top: 25%;
    }

    #blanks {
        height: auto;
        font-size: 32px;
        margin: 16px 0 96px 0;
    }

    #keys {
        width: 370px;
        height: auto;
    }
    
    #keyButtons {
        height: 40px;
        width: 40px; 
        font-size: 12px;
        margin: 1px 1px 0 0;
    }

    #wrongLetters {
        font-size: 16px;
    }

    #message {
        font-size: 72px;
    }

    #solution {
        width: 80%;
        font-size: 32px;
        text-align: center;
    }

    #leftoverGuesses {
        font-size: 16px;
    }

    #playAgainButton {
        height: 70px;
        width: 140px;
        font-size: 16px;
    }

    #pokemonSprite {
        height: 176px;
        width: 176px;
        image-rendering: pixelated;
    }

    #animalImage, #superheroImage {
        height: 176px;
        width: auto;
    }
}